h1, h2, h3 {color:#046DB0; font-family:Arial, sans-serif}
sub, sup {font-size:xx-small}
p  { margin-left:2%; margin-right:10% }
.navbar {font-family:Arial, sans-serif; font-size:xx-small; background-color: #CCCCFF}
.sidebar {font-family: Arial, sans-serif; font-size:small; background-color: #EEEEFF}
.contents { background-color: #CCCCFF }
ul.tight { margin-top: 0mm; margin-bottom: 0mm }
ul, ol { margin-left: 30px }
ul ul, ul ol, ol ul, ol ol { margin-left: 0px }
